@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-300;
  }
}

* {
  cursor: none !important;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(94, 234, 212, 0.5);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #134e4a;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}